{% extends 'base.html.twig' %}

{% block title "Ensemble de cours" %}

{% block body %}
    <h1>Ensemble de cours</h1>
    <a href="{{ path('app.course.new') }}" class="block mt-2 mb-4 btn">Créer un cours</a>
    <div class="grid grid-cols-2 gap-4">
        {% for course in courses %}
            {{ component('CourseComponent', {
                id: course.id,
                name: course.name,
                average: course.average,
                professor: course.professor,
                color: course.backgroundColor
            }) }}
        {% endfor %}
    </div>
    {{ knp_pagination_render(courses) }}
{% endblock %}