{% extends 'base.html.twig' %}

{% block title "Ensemble de cours" %}

{% block body %}
    <h1>Ensemble de cours</h1>
    <a href="{{ path('app.course.new') }}" class="block mt-2 mb-4 btn">Créer un cours</a>
    <div class="grid grid-cols-2 gap-4">
        {% for course in courses %}
            {{ component('CourseComponent', {
                id: course.id,
                name: course.name,
                room: course.room,
                average: course.average,
                professor: course.professor,
                color: course.backgroundColor
            }) }}
        {% else %}
            <div class="flex flex-col text-center col-span-2 mt-4">
                <h2>Pas de cours crées</h2>
                <p>
                    Cliquez sur le bouton "Créer un cours" pour ajouter un cours.
                </p>
            </div>
        {% endfor %}
    </div>
    {{ knp_pagination_render(courses) }}
{% endblock %}