{% extends 'base.html.twig' %}

{% block title "Ensemble de cours" %}

{% block body %}
    <h1>Ensemble de cours</h1>
    <button onclick="window.location.href = '{{ path('app.course.new') }}'; " class="mb-4 btn">Créer un cours</button>
    <div class="grid grid-cols-2 gap-4">
        {% for course in courses %}
            {{ component('CourseComponent', {
                id: course.id,
                name: course.name,
                average: course.average,
                professor: course.professor,
                color: course.backgroundColor,
            }) }}
        {% endfor %}
    </div>
{% endblock %}